<header class="header-new">
    <div class="header-new-content">
        
    </div>
</header>

{%  schema  %} 
{
    "name":"t:sections.header-new.name",
    "settings": [
        {
            "type":"image_picker",
            "id":"logi_img",
            "label": "Select the logo image"
        }
    ]
}
 
{% endschema %}