.announcement-bar-new{
    color:#fff;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.announcement-bar-new .customer-service-text, .announcement-bar-new .store-locator{
    display: none;
}

.announcement-bar-new .free-shipping-text, .announcement-bar-new .customer-service-text{
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.announcement-bar-new .bar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
}

.announcement-bar-new .free-shipping-text{
    flex:1;
}

@media screen and (min-width:768px){
    .announcement-bar-new .customer-service-text, .announcement-bar-new .store-locator{
        display: flex;
    }
    .announcement-bar-new .page-width{
        padding-left: 20px;
        padding-right: 20px;
    }
    .announcement-bar-new .customer-service-text, .announcement-bar-new .store-locator{
        flex: 0 0 25%;
        max-width: 25%;
    }

    .announcement-bar-new .free-shipping-text{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .announcement-bar-new .store-locator{
        justify-content: flex-end;
    }

    .store-locator a{
        color: #fff;
        text-decoration: none;
        display: flex;
        gap: 6px;
        gap: 5px;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }

    
}