p,ul{
    margin: 0;
}

.footer-new{
    display: block;

}

.footer-new .page-width{
    padding: 0;
}
.icon-with-text{
    background-color: rgba(240, 240, 240, 1);
}

.store-locator-link , .customer-care-link{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-top: 1px solid rgba(216, 216, 216, 1);
}

.store-locator-link span , .customer-care-link span{
    display: inline-flex;
}

.store-locator-link p , .customer-care-link p{
  margin-left: 8px;
  font-size: 13px;
  color: #000;
}

accordion-items details{
    padding: 0 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}

accordion-items details span svg{
    transform: rotate(270deg);
    transition: transform .5s ease;
}



accordion-items details[open] span.arrow-icon svg{
   transform: rotate(90deg);
}

accordion-items details span.arrow-icon{
   display: inline-flex;
}

accordion-items details h4{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

accordion-items details summary{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

accordion-items details:focus-visible , accordion-items details summary:focus-visible{
    outline: unset;
    outline-offset: unset;
    box-shadow: unset;
}

accordion-items .accordion-content{
    display: none;
}

accordion-items .accordion-content.show{
    display: block;
}

accordion-items .accordion-content ul{
   padding:  0;
   margin: 0;
   list-style: none;    
}

accordion-items .accordion-content ul li{
    padding-bottom: 10px;
}
accordion-items .accordion-content ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.social-media{
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    display: flex;
    flex-direction: column;
}

.social-media-icons{
    padding: 16px 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
}
.social-media-icons ul{
    list-style: none;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px 29px;
}

.country-language-selector{
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country-language-selector h4{
    color: #000;
    font-weight: 600;
    text-align: center;
}
.copyright-text{
    background-color: #000;
    color: #fff;
    padding: 10px 32px;
    text-align: center;
}

.copyright-text p{
    font-size: 12px;
}

.footer-links-items{
   display: none;      
} 

@media screen and (min-width:768px){
    .icon-with-text{
        display: none;
    }

    accordion-items details{
        padding: 0 100px;
    }

    .social-media-icons ul{
        max-width: 70%;
        gap: 9px 36px;
    }
    
}

@media screen and (min-width:1024px){
    .accordion-item-wrap{
        display: none;
    }

    .footer-links-items{
      display: grid;
      grid-template-columns: repeat(4,1fr);   
    }

    .accordion-item-wrap-outer{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    .footer-links-items .page-width{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-new-inner{
        padding: 40px 100px;
    }

    .social-media, .social-media-icons{
        border-bottom: unset;
    }

    .link-items ul{
        padding: 0;
        list-style: none;
    }

    .link-items ul li a{
        text-decoration: none;
        color: #000;
        font-size: 13px;
    }

    .link-items h4{
        margin-bottom: 20px;
    }

    .social-media-icons ul{
        max-width: none;
    }


}




