

.header-new{
    position: relative;
    position: fixed;
    top: 34px;
    z-index: 2;
    width: 100%;
    background: #fff;
}

.header-new .page-width{
    
    padding: 14px 20px;
}

.logo-icon-wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.icons button , .hamburger-btn,.drawer-icons button{
    background: none;
    border: none;
    padding: 0;
}

.logo-container img{
    max-width: 100px;
}

button.profile-icon{
    display: none;
}

.header-new-content{
    display: flex;
}

.icons{
    gap: 24px;
    display: flex;
    margin-right: 19px;
}

nav{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    height: 100vh;
    left: -100%;
    transition: left .5s ease;
}

nav.show{
    left: 0;
}

.header-new.header-top{
    top: 0;
    
}

.header-new.header-top .icons .search-icon , .header-new.header-top .icons .cart-icon ,.header-new.header-top .icons .wishlist-icon{
    display: none;
}

nav ul{
    list-style: none;
    padding: 0 20px;
    height: calc(100% - 67px);
}

nav ul li{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;

}

.hamburger-btn svg{
    pointer-events: none;
}

.hamburger-btn .close-icon{
    display: none;
}

.header-new.header-top .hamburger-btn .close-icon{
    display: block;
}

.header-new.header-top .hamburger-btn .hamburger-icon{
    display: none;
}

.drawer-icons button a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.drawer-icons-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-icons-inner .wishlist-btn , .drawer-icons-inner .profile-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-links-inner{
    height: 100%;
}

.drawer-icons{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(216, 216, 216, 1);
    background-color: #fff;
}

.logo-container-dektop{
    display: none;
}

@media screen and (min-width:768px){
    .logo-icon-wrapper{
        order: 2;
        padding-left: 60px;
    }

    button.profile-icon{
        display: block;
    }

    .icons{
        margin-right: 0;
    }

    .customer-service-text span{
        padding-left: 26px;
    }

    nav{
        width: 40%;
    }

    .drawer-icons{
        display: none;
    }

    .header-new.header-top .icons .search-icon , .header-new.header-top .icons .cart-icon ,.header-new.header-top .icons .wishlist-icon{
        display: block;
    }

    .header-new.header-top{
        top: 34px;
        
    }
}

@media screen and (min-width:1024px){
    .logo-container{
        display: none;
    }

    /* .header-new-content{
        justify-content: flex-end;
    }  */

    nav{
    position: relative;
    left: 0;
    height: 100%;
    width: 70%;
    }

    .content-wrap{
        display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
    }

    nav ul li .arrow-right{
        display: none;
    }

    .hamburger-btn{
        display: none;
    }

    .logo-container-dektop{
        display: block;
        text-align: center;
    }

    /* .logo-icon-wrapper{
        flex: 0 0 30%;
        justify-content: flex-end;
    } */

    /* nav{
        width: 70%;
    height: 100%;
    top: 0;
    background: transparent;
    left: auto;
    }

    nav ul{
        margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    left: 0;
    justify-content: space-between;
    }

    nav ul li .arrow-right{
        display: none;
    }

    .hamburger-btn{
        display: none;
    } */

    /* .nav-links .page-width{
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    } */
}