

.header-new{
    position: relative;
    position: fixed;
    top: 34px;
    z-index: 2;
    width: 100%;
    background: #fff;
}

.header-new .page-width{
    
    padding: 14px 20px;
}

.logo-icon-wrapper{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.icons button , .hamburger-btn,.drawer-icons button{
    background: none;
    border: none;
    padding: 0;
}

.logo-container img{
    max-width: 100px;
}

button.profile-icon{
    display: none;
}

.header-new-content{
    display: flex;
}

.icons{
    gap: 24px;
    display: flex;
    margin-right: 19px;
}

nav{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    height: 100vh;
    left: -100%;
    transition: left .5s ease;
}

nav.show{
    left: 0;
}

.header-new.header-top{
    top: 0;
    
}

 .header-new.header-top .icons .cart-icon ,.header-new.header-top .icons .wishlist-icon{
    visibility: hidden;
}


 ul.parent{
    list-style: none;
    padding: 0 20px;
    height: calc(100% - 67px);
}

 ul.parent  li.parent-list .parent-list-container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

ul.parent li.parent-list a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;

}

.hamburger-btn svg{
    pointer-events: none;
}

.hamburger-btn .close-icon{
    display: none;
}

.header-new.header-top .hamburger-btn .close-icon{
    display: block;
}

.header-new.header-top .hamburger-btn .hamburger-icon{
    display: none;
}

.drawer-icons button a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.drawer-icons-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-icons-inner .wishlist-btn , .drawer-icons-inner .profile-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .nav-links-inner{
    height: 100%;
}

.nav-links-inner .drawer-icons{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(216, 216, 216, 1);
    background-color: #fff;
    display: block;
}

.logo-container-dektop{
    display: none;
}

.child-links{
    display: none;
}

.child-links.active h3 a.child-drawer-link{
    text-decoration: underline;
}

.nav-links.child-drawer .child-links.active{
    display: block;
    position: absolute;
    top: -57px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: auto;
}

.child-links .child-head{
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

.child-links.active ul.child{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.child-links.active ul.child li.child-item{
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    padding-bottom: 20px;
}

.child-links.active ul.child li.child-item a.child-item-links{
    display: none;
}

ul.grandchild{
    padding: 0;
    list-style: none;
}

ul.grandchild li{
    padding: 12px 20px;
}

.child-item .grandchild li a.grand-child-links{
    font-weight: 400;
    color: #000;
    font-size: 13px;
}




.nav-links-inner.hide .drawer-icons{
    display: none;
}

.child-header-image-with-text{
    background: rgba(240, 240, 240, 1);
    padding: 20px 44px;
}

.child-header-image-with-text .image-content {
    display: flex;
    align-items: center;
    background: white;
    position: relative;
}

.image-content img{
    max-width: 100px;
    display: block;
}

.image-content h4{
    margin-left: 10px;
}

.child-header-image-with-text-outer{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px){
    .logo-icon-wrapper{
        order: 2;
        padding-left: 60px;
    }

    button.profile-icon{
        display: block;
    }

    .icons{
        margin-right: 0;
    }

    .customer-service-text span{
        padding-left: 26px;
    }

    nav{
        width: 40%;
    }

    .drawer-icons{
        display: none;
    }

    .header-new.header-top .icons .search-icon , .header-new.header-top .icons .cart-icon ,.header-new.header-top .icons .wishlist-icon{
        visibility: visible;
    }

    .header-new.header-top{
        top: 34px;
        
    }

    .nav-links-inner .drawer-icons{
        display: none;
    }

    .nav-links.child-drawer .child-links.active{
        left: 100%;
        top: 0;
    }

    .child-links .child-head{
        display: none;
    }

    .child-links.active ul.child li.child-item a.child-item-links{
        display: block;
        padding-left: 20px;
    }

    .child-links.active ul.child li.child-item{
        border: none;
    }

    .child-links.active ul.child {
        flex-direction: row;
    }

    ul.grandchild li{
        padding: 8px 20px;
    }

    ul.parent li.parent-list .parent-list-container.active-link{
       background-color: rgba(240, 240, 240, 1);
    } 

    ul.parent{
        padding: 0;
    }

    ul.parent li.parent-list .parent-list-container{
        padding: 10px 20px;
    }

    .child-header-image-with-text{
        padding: 0 12px 20px 12px;
        margin-top: 20px;
        background-color: white;
    }

    .child-header-image-with-text img{
        max-width: none;
        width: 100%;
    }

    .child-header-image-with-text .image-content{
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (min-width:1024px){
    .logo-container{
        display: none;
    }

    /* .header-new-content{
        justify-content: flex-end;
    }  */

    nav{
    position: relative;
    left: 0;
    height: 100%;
    width: 80%;
    }

    .content-wrap{
        display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 15px;
    }

    ul.parent{
        display: flex;
        justify-content: space-between;
        max-width: 865px;
    }

    ul.parent li.parent-list .arrow-right{
        display: none;
    }

    .hamburger-btn{
        display: none;
    }

    .logo-container-dektop{
        display: block;
        text-align: center;
    }

    
}