img{
    max-width: 100%;
}

h3{
    margin: 0;
}

/* .hm-new-arrival .card__wrapper{deta
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 5px 0px rgba(0, 0, 0, .08);
    position: relative;
}

.hm-new-arrival .card__image{
    height: 300px;
    position: relative;
    overflow: hidden;
}

.hm-new-arrival .collection-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
} */

.hm-new-arrival .card__wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 5px 0px rgba(0, 0, 0, .08);
}

.accordion-item button{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 9999px;
    padding: 6px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 5px 0px rgba(0, 0, 0, .08);
    width: 32px;
    height: 32px;
}

.accordion-item button:focus-visible{
    outline: unset;
    box-shadow: unset;
    border: unset;
}

.accordion-item summary{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #fff;
    border-radius: 50%;
}

.accordion-item summary:focus-visible{
    outline: unset;
    outline-offset: unset;
    border: none;
    box-shadow: unset;
}

.accordion-item button svg.minus-icon{
    display: none;
}
.collection-title{
    padding: 34px 20px 24px 20px;
    position: relative;
}

.collection-title h3{
    text-align: center;
    line-height: 25px;
    font-size: 18px;
}

.hm-new-arrival .page-width{
    padding: 40px 20px;
}

.card__wrapper .card__image{
    height: 230px;
    width: 100%;
    position: relative;
}

.card__wrapper .card__image img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* details#myDetails{
    height: 0;
    transition: height .5s ease;
}



details[open]#myDetails{
   height: 100%;
}  */

details[open]#myDetails button .minus-icon{
    display: block;
}

details[open]#myDetails button .plus-icon{
    display: none;
}
.accordion-content p{
    color: rgba(89, 89, 89, 1);
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

.accordion-content a{
    text-decoration: none;
}

.accordion-item details
{
    transition: height .5s ease;
    overflow: hidden;
}

.accordion-item details:not([open])
{
    height: 0px;
}

.accordion-item details[open]
{
    height: 60px;
}

.new-arrival-text-desktop{
    display: none;
}

@media screen and (min-width:768px){
    .new-arrival-text-desktop{
        display: block;
    }

    .collection-title{
        display: none;
    }

    .hm-new-arrival .card__wrapper{
        box-shadow: unset;
        flex-direction: row;
        align-items: center;
        gap: 85px;
    }

    .card__wrapper .card__image{
        flex: 1;
    }

    .new-arrival-text-desktop{
        flex:1;
    }

    .accordion-content-desktop a{
        text-decoration: none;
        color: rgba(89,89,89,1);

    }

    .accordion-content-desktop p {
        font-size: 17px;
        line-height: 25px;
        padding-right: 62px;
    }

    .new-arrival-text-desktop a.collection-link{
        color: #000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    /* margin-top: 24px; */
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
    margin-right: 62px;
    padding: 5px 0;
    padding-right: 40px;
    }

    .new-arrival-text-desktop h3{
        margin-bottom: 9px;
        font-weight: 600;
    }

    .new-arrival-text-desktop a.collection-link::before{
        content: '';
        margin-right: 9px;
        padding-top: 2px;
        background-color: #000;
        width: 31px;
        display: inline-flex;
        transition: all .5s ease;
    }

    .new-arrival-text-desktop a.collection-link::after{
        content: '';
        background: url('data:image/svg+xml,<svg width="31" height="14" viewBox="0 0 21 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.71439C20.5488 4.51913 20.5488 4.20255 20.3536 4.00729L17.1716 0.825306C16.9763 0.630044 16.6597 0.630044 16.4645 0.825306C16.2692 1.02057 16.2692 1.33715 16.4645 1.53241L19.2929 4.36084L16.4645 7.18927C16.2692 7.38453 16.2692 7.70111 16.4645 7.89637C16.6597 8.09164 16.9763 8.09164 17.1716 7.89637L20.3536 4.71439ZM0 4.86084H20V3.86084H0V4.86084Z" fill="black"/></svg>');
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100% , -50%);
        margin-top: 1px;
        height: 14px;
        width: 31px;
        display: inline-flex;
        visibility: hidden;
    }

    .hm-new-arrival:hover a.collection-link::after{
        visibility: visible;
      }

      .hm-new-arrival:hover a.collection-link{
        padding-right: 10px;
      }
      
      .hm-new-arrival:hover a.collection-link::before{
          width: 0px;
          margin-right: 0;
      }
}

@media screen and (min-width:1024px){
    .hm-new-arrival .page-width{
        padding: 40px 65px;
    }

    .hm-new-arrival .card__wrapper{
        gap: 115px;
    }
}